{% extends 'navbar.html' %}
{% load static %}
{% block content %}

          <title>a d d  f r i e n d | z a h r a</title>

            <div class="container mt-5 ml-1">
                <h1 id= "judulbayangan"; >
                        add friend
                    </h1>
                <h1 id= "judul";>
                    add friend
                </h1>
            </div>
        
            <div class="container">
                <form method="post" action="{% url 'homepage:addFriend' %}">
                    {% csrf_token %}
                    <div style="margin-left: 10px; margin-right: 10px;">
                    <div class="form-row">
                        <div class="col-sm-1"></div>
                        <div class="form-group col-sm-10">
                            {% for fields in form %}
                                {{ fields.label_tag }}
                                <br>
                                {{ fields }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-row">
                        <input type="submit" class="btn btn-primary" value="Add" style="margin-left: auto; margin-right: auto;">
                    </div>
                    <div class="form-row">
                        <br>
                    </div>
                    <div class="form-row">
                        
                        <a href="{% url 'homepage:friend' %}" style="text-decoration: none; margin-left: auto; margin-right: auto"> 
                            <button type="button" class="btn btn-light">
                              See Friends</button> </a>
                    </div>
                </form>
                
            </div>

            <div class="container">
              <br>
            </div>

        {% endblock %}