{% extends 'navbar.html' %}

{% load static %}

{% block content %}
<title>f r i e n d s | z a h r a</title>

            <div class="container mt-5 ml-1">
                <h1 id= "judulbayangan"; >
                        friends
                    </h1>
                <h1 id= "judul";>
                    friends
                </h1>
            </div>

<table id="friendtable" class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Batch</th>
        <th scope="col">Hobby</th>
        <th scope="col">Favourite Food</th>
        <th scope="col">Favourite Drink</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for friend in friends %}
        <tr class="table-info">
          <td class="table-secondary">{{ friend.name }}</td>
          <td class="table-info">{{ friend.ClassYear }}</td>
          <td class="table-secondary">{{ friend.hobby }}</td>
          <td class="table-info">{{ friend.food }}</td>
          <td class="table-secondary">{{ friend.drink }}</td>
          <td class="table-info"><a href="/friend/deleteFriend/{{friend.name}}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Delete</button></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'homepage:addFriend' %}" style="text-decoration: none"> 
    <button type="button" class="btn btn-light">
      Add Friends</button> </a>

{% endblock %}
